<div class="row clearfix" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card main-content">
        <ul>
          <li *ngFor="let content of contents">
              <a [routerLink]="['/app/contents', content.id]">
                <span>
                    {{content.pageName}}
                </span>
            </a>
          </li>
        </ul>
        <!--<ng-template ngFor let-content [ngForOf]="contents" let-i="index">
            <a [routerLink]="{'/contents', content.id">
                <span>
                    {{content.pageName}}
                </span>
            </a>
        </ng-template>-->
      </div>
    </div>  
  </div>
